*,
*:before,
*:after {
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
}
body {
  padding: 40px;
  text-align: center;
}
.triangle {
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle;
}

.triangle-4 {
  width: 60px;
  height: 30px;
  border-bottom: solid 150px #d7d7e4;
  border-left: solid 150px transparent;
  border-right: solid 150px transparent;
}
